<div class="w-full">
  <div class="flex flex-row justify-between">
    <h1 class="font-bold text-4xl">Welcome to surveytrack</h1>
    <%= button_to "Logout", session_path, method: :delete, 
      class: "px-2 py-2 text-white text-center bg-red-500 cursor-pointer hover:bg-red-800 transition"%>
  </div>
  <%= render partial: "flash" %>
  <p>Hey there, <%= @current_user.email_address %>!</p>
</div>
